NEXT_PUBLIC_SUPABASE_URL=https://toswktoecyvvnviftubk.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvc3drdG9lY3l2dm52aWZ0dWJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNTYwODEsImV4cCI6MjA5NDkzMjA4MX0.Rg8X_mpnqj6oZ4xeuAXCl_bNxEiZ6ood1kVQrEGsqV0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvc3drdG9lY3l2dm52aWZ0dWJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM1NjA4MSwiZXhwIjoyMDk0OTMyMDgxfQ.Jiq3MZansbzW0NgufWvsaSdMukUOSVqkEzhmxM6SNYk
